.grey-area {
    background-color: #19191b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grey-area img {
    max-width: 80%; /* Limit width to 80% of the grey-area */
    max-height: 80vh; /* Limit height to 80% of viewport height */
    object-fit: contain;
}

.photo-details {
    padding: 20px;
    max-width: 800px;  /* Set a max-width if you want */
    margin: 0 auto;  /* Center the block horizontally */
}


div {
    border: 1px solid black;
}
  
