.photo-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes full viewport height */
    width: 100%;  /* Takes full width */
    position: relative; /* Relative to its normal position */
    z-index: 1; /* Places it above other elements with lower or equal z-index */
  }
