.loading-container {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    border: 2px solid red;
  }

  .grid-container {
    margin-top: 80px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
  }
  
  .grid {
    column-count: 4;
    column-gap: 5px;
    margin: 0 auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  @media (min-width: 1024px) {
    .grid {
      padding-left: 180px;
      padding-right: 180px;
    }
  }
  
  
  

.grid > div {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 16px;
  width: 100%;
  box-sizing: border-box;
}
  
  
  
  
  
  