.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height:25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding-right: 20px; */
}

.footer-text {
  margin: 0 15px 0 0;  /* Added right margin */
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-link {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.footer-link:last-child {
  margin-right: 30px; /* Adjust as needed */
}

