/* TODO Add site wide styles */

body {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

/* Ensure the page takes full height */
html,
body {
    height: 100%;
    margin: 0;
}

/* Your App's main container should stretch and push the footer down */
.main-container {
    height: 100vh;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

/* Your content should grow to take available space */
.content {
    /* flex-grow: 1; */
    padding-bottom: 70px;
}
.no-scroll {
    overflow: hidden;
}

/* Footer will take its natural height and not more */
.footer {
    flex-shrink: 0;
}

.normal-page {
    padding-top: 64px; /* This should match the height of your navbar */
}

/* h1:not(.splash-container h1) {
    margin-left: 5.5em;
} */

a {
    text-decoration: none;
}

a:visited {
    color: inherit; /* This will make visited links use the color they inherit from their parent */
}
