.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Center the background image */
    transition: background-image 1s ease-in-out;
}
