/* Navigation Styles */
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Kanit', sans-serif;

}

/* Button Styles */
button {
  border: none;
  cursor: pointer;
}

/* Profile Button Container */
.profile-button-container {
  width: 200px;
  margin: auto;
}

/* Seer Link */
.seer-link {
  font-size: 3em;
  font-weight: 700;
}

/* Session Links */
.session-links {
  display: flex;
  gap: 10px;
}

/* NavLinks */
.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 0 10px;
}

/* Log In and Sign Up */
.session-links .nav-link {
  font-weight: 300;
  font-size: 1.2em;
}

/* Active Link */
/* .nav-link.active {
  border-bottom: 2px solid #ecf0f1;
} */

/* Hover Effects */
.nav-link:hover, .session-links a:hover {
  color: #ecf0f1;
}

/* Seer Logo */
.seer-logo {
  height: 30px;
  margin-right: 10px;
}

.nav-item {
  list-style-type: none;
  /* ...other styles */
}


.nav-list.translucent {
  background-color: rgba(44, 62, 80, 0.5); /* Adjust the alpha value as you like */
}
